<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.cubeit.cubeit">


    <application
        android:icon="@mipmap/cubeitactivity"
        android:label="CubeIt"
        android:roundIcon="@mipmap/cubeitactivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="cz.cubeit.cubeit.home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cz.cubeit.cubeit.ChoosingSpells" />
        <activity android:name="cz.cubeit.cubeit.Settings" />
        <activity android:name="cz.cubeit.cubeit.Character" />
        <activity android:name="cz.cubeit.cubeit.Shop" />
        <activity android:name="cz.cubeit.cubeit.CharacterCustomization" />
        <activity android:name="cz.cubeit.cubeit.FightSystem" />
    </application>

</manifest>