<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.cubeit.cubeit"
    android:versionName="Alpha"
    tools:ignore="GradleOverrides">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/game_icon"
        android:label="CubeIt"
        android:roundIcon="@mipmap/game_icon"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">
        <activity
            android:name=".Home"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".Character"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".ActivityFightBoard"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".FightSystem"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ActivitySettings"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ActivityShop"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Adventure"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".Spells"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ActivityAuctionMenu"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".Activity_Character_Customization"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ActivityStory"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".ActivityLoginRegister"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".BackgroundSoundService"
            android:enabled="true" />
        <service
            android:name=".ClassCubeItHeadService"
            android:enabled="true" />
    </application>

</manifest>