<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.cubeit.cubeit"
    android:versionCode="1"
    android:versionName="PreAlpha"
    tools:ignore="GradleOverrides">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/game_icon"
        android:label="CubeIt"
        android:roundIcon="@mipmap/game_icon"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Home"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Character"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FightSystem"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Shop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Adventure"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Spells"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginUser"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".LoginUser" android:screenOrientation="landscape"/>-->
        <activity android:name=".RegisterUser" android:screenOrientation="landscape"/>
        <service
            android:name=".BackgroundSoundService"
            android:enabled="true" />
    </application>

</manifest>