<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.cubeit.cubeit_test"
    android:versionName="Alpha"
    tools:ignore="GradleOverrides">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon_app"
        android:label="CubeIt"
        android:roundIcon="@mipmap/icon_app"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />

        <activity
            android:name="cz.cubeit.cubeit_test.SystemFlow$GameActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Create_Story_Overview"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Story_Lobby"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Story"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityHome"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Character"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityFightBoard"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityFightSystem"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Create_Story_Publish"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Faction_Base"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.FightSystemNPC"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.ActivitySettings"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Shop"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityAdventure"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Spells"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Character_Customization"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Story_lobby_official"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Inbox"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Splash_Screen"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Market"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityFightUniversalOffline"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityOfflineMG"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Create_Story"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.Activity_Fight_Reward"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cz.cubeit.cubeit_test.ActivityLoginRegister"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />

        <service
            android:name="cz.cubeit.cubeit_test.SystemFlow$BackgroundSoundService"
            android:enabled="true" />
        <service
            android:name="cz.cubeit.cubeit_test.ClassCubeItHeadService"
            android:enabled="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>